.header {
    display: grid;
    margin: 92px 49px 92px 51px;
    grid-template-columns: auto 1fr auto;
}

.header__link {
    text-decoration: none;
}

.header__link_active {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__links-list {
    display: flex;
    column-gap: 32px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__logo {
    display: flex;
    height: 105px;
    width: 148px;
    flex-shrink: 0;
    margin: 0 355px 0 209px;
}

.address {
    display: flex;
    flex-direction: column;
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px; 
}

.cover {
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 757px;
    display: flex;
    position: relative;
    flex-direction: column;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
}

.cover__title {
    box-sizing: border-box;
    color: #FFF;
    font-family: Raleway;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.aligned-text {
    margin-top: 165px;
    margin-left: 50px;
    display: block;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: block;
    text-align: end;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    margin: 147px 50px 50px 0;
    gap: 78px;
    align-items: center;
}

.cover__description-text {
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 14px;
}

.bet-button {
    border: 1px solid #FFF;
    width: 257px;
    height: 52px;
    background: none;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.lots {
    margin: 180px 50px 181px;
    width: auto;
    flex-shrink: 0;
}

.lots__heading {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__card-list {
    background-color: aquamarine;
}